html {
  background: rgb(245, 244, 244);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.composed-input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.composed-input > input {
  border: 2px solid rgb(227, 225, 226);
  border-radius: .3rem;
  height: 1.5rem;
  margin-bottom: 15px;
}

.form--wrapper {
  background: rgb(255, 255, 255);
  border-radius: .75rem;
  display: flex;
  filter: drop-shadow(0 0 0.75rem rgb(227, 225, 226));
  flex-direction: column;
  margin: 200px;
  padding: 2rem;
}

.header--wrapper {
  margin-bottom: 2.5rem;
}

.form--text span {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
}

.form--text h1 {
  line-height: 0;
}

.form--text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.input--label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.button--submit {
  align-self: flex-end;
  background-color: red;
  border: none;
  border-radius: .4rem;
  color: white;
  font-size: .9rem;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
}
